.backArrow {
  color: black;
}

.backArrow:hover {
  color: red;
}

.arrow-left {
  text-align: left !important;
  position: fixed;
  top: 0;
  margin-left: 0 !important;
  margin-top: 24px;
  width: 100%;
}
