.containerFluid {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.backArrow {
  position: absolute;
  left: 0;
  color: black;
 /* margin-bottom: 50px;*/
}

.backArrow:hover {
  color: red;
}
